<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  Username: <%= f.text_field :username %><br>
  E-mail: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Sign Up" %>
<% end %>
