<div class="container text-center">
  <h1>Create a Goal</h1>
</div>

<div class="container">
  <%= form_for @goal do |f| %>
    <div class="form-group row">
      <%= f.label :description, :class => "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :description, :class => "form-control" %>
      </div>
    </div>
    <%= f.hidden_field :habit_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="col text-center">
      <%= f.submit "Create Goal", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
