<div class="container text-center">
  <h1><%= @goal.description %></h1>



  <p>You have completed <%= @goal.days_completed %> days of this habit</p>

  <p>You have <%= @goal.days_left_to_form_habit %> days left to solidify your habit</p>

  <p>You have completed your habit <%= @goal.completion_percentage %>% of the time since you started</p>


  <h3>Did you complete your habit today?</h3>
  <%= form_tag completed_habit_path(@goal) do %>
    <%= submit_tag "Habit Completed Today", :class => "btn btn-info" %>
  <% end %>
</div>
