<div class="container text-center">
  <h1 class="container text-center"><%= @category.name %></h1>

  <% if category_has_popular_habits?(@category) %>
    <h3>Most Popular Habits in this Category</h3>

    <ul class="list-group text-center">
      <% @category.popular_habits_in_category.each do |habit| %>
        <li class="list-group-item">
          <%= habit.name %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if category_has_habits?(@category) %>
    <h3>All Habits in This Category</h3>

    <ol class="list-group text-center">
      <% @category.habits.each do |habit| %>
        <li class="list-group-item"><%= habit.name %> --- <%= link_to "Create a new goal for this habit", new_habit_goal_path(habit), :class => "badge badge-pill badge-light" %></li>
      <% end %>
    </ol>
  <% end %>

  <%= link_to "Create a New Habit in The #{@category.name} Category", new_category_habit_path(@category), :class => "badge badge-pill badge-dark w-50" %>
</div>
